body{
    background-color: #222;
    overflow-x: hidden;
}

/* estilos de navegacion */
.barra-navegacion{
    display: flex;
    background-color: #222;
    align-items: center;
    justify-content: space-between;
}

.barra-navegacion h1 {
    color: #fff;
   padding: 10px;
}
.contenedor-iconos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.barra-navegacion a img{
    width: 30px;
}

.barra-navegacion a{
    display: inline-block;
    margin: 0 10px;
    background-color: #c5c3c3;
    border-radius: 100%;
    padding: 5px;
}


.contactanos{
    padding: 10px;
    margin: 5px 20px;
    background-color: #985da5;
    border: 2px solid #8c8989;
}

/*  estilos del main-hero  */

.hero{
    position: relative;
    width: 99vw;
    height: 80vh;  
}

.hero:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(133, 133, 133, 0.3);
}

.hero img{
    width: 100%;
    height:100%;
}

.contenedor-texto{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
    padding-top: 2%;
    max-height:100% ;
    font-size: 16px;
    
}

.hero .hero-titulo{   
    font-size: 2.5rem;
    color: #fff;
    padding-left:1% ;
    width: 30%;
}

.hero .hero-comentario{
    font-size: 1.3rem;
    color: #fff;
    padding-left:1% ; 
    width: 80%;  
}

.hero button {
    width: 30%;
    height: 50px;
    margin: 0 auto;
    font-size: 17px;
}

/*  estilos del carrusel */

.carrusel-contenedor{
    display: block;
    width: 100%;
    margin:30px auto 0 30px;
   background-color: #222;
}

.img-carrusel{
    width: 70%;
    height:70%;
    display: flex;
    margin: 0 auto;
    
}

/*comentario*/

.comentario{
    background-color: #101010;
    padding: 20px;
    
}

.comentario p{
    color: #fff;
    font-size: 1.7rem;
    text-align:end
}


/*nuestros servicios*/


.sevicios-contenedor{
    display: flex;
    justify-content: space-around;
    

}

h2{
    color: #fff;
    font-size: 60px;
    padding: 10px;
    text-transform:capitalize;
}

.servicio{
    width: 30%;
    padding: 10px;
    
}

.servicio img{
    width:80%;
}



.servicio p{
    color: #fff;
    
}

.servicio h3{
    color: #fff;
  
}


/*estilos footer*/

.footer{
   display: flex;
   align-items:center;
   justify-content:space-between;
   background-color: #985da5;
   height: 100px;
   padding: 20px
}

.footer h3{
    color:#fff;
   font-size: 50px;
}

.footer a img{

    background-color: #fff;
    width: 60px;
    border-radius: 100%;
    padding: 1px;
    
}

.copy{
    color: #8c8989;
    text-align: center;
}
