

.barra-navegacion{
    display: flex;
    background-color: #101010;
 
    align-items: center;
    justify-content: space-between;
}

.barra-navegacion h1 {
    color: #fff;
    padding: 1%;
}
.barra-navegacion a{
    display: inline-block;
    margin: auto 10px;
    background-color: #c5c3c3;
    border-radius: 100%;
    padding: 5px;
    
}
.barra-navegacion a img{
    width: 30px;
}

.iconos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}




.contactanos{

    padding: 10px;
    margin: 5px 20px;
    background-color: #985da5;
    border: 2px solid #8c8989;
}